{% load staticfiles %}

<link rel="stylesheet" href="{% static 'js/cropper/cropper.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap-2.3.2.min.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>

<script type="text/javascript" src="{% static 'js/cropper/cropper.js' %}"></script>
<script type="text/javascript" src="{% static 'js/popcorn-complete.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/popcorn.capture.js' %}"></script>

<script type="text/javascript">

    var postForm = function(){
        var postData = {
            hitId: $("#hitId").val(),
            assignmentId: $("#assignmentId").val(),
            workerId: $("#workerId").val(),
            actor: $.trim($("#actor").val())
        }
        $("input[type='submit']").hide();
        $.ajax({
            url: '/api/submit/',
            data: JSON.stringify(postData),
            cache: false,
            dataType: 'json',
            traditional: true,
            type: 'POST',
            contentType: "application/json; charset=utf-8",
            success: function(response){
                alert("success");
            },
            error: function(data){
                alert("error");
            }
        });
    };

    var adjustInputs = function(leftOffset, topOffset, width, height){
        $("input#width").val(width);
        $("input#height").val(height);
        $("input#offset_x").val(leftOffset);
        $("input#offset_y").val(topOffset);
    };
    var adjustVideo = function(leftOffset, topOffset, width, height){
        var widthStr = width + "px";
        var heightStr = height + "px";
        $(".viewable-area").css("width", widthStr);
        $(".viewable-area").css("height", heightStr);
        var marginLeftStr = (-1 * leftOffset) + "px";
        $("#main_video").css("margin-left", marginLeftStr);
        var marginTopStr = (-1 * topOffset) + "px";
        $("#main_video").css("margin-top", marginTopStr);
    };
    var initCropper = function(){
        var targetEl = $("#img-placeholder");
        var aspectRatio = targetEl.width() / targetEl.height();
        var cropCount = 0;
        targetEl.cropper({
            aspectRatio: aspectRatio,
            background: true,
            crop: function(data) {
                console.log("crop start")
                var leftOffset = data.x;
                var topOffset = data.y;
                var width = data.width;
                var height = data.height;
                adjustVideo(leftOffset, topOffset, width, height);
                adjustInputs(leftOffset, topOffset, width, height);
                if(cropCount > 0){
                    $("input").show();
                }
                cropCount++;
            },
            autoCropArea: 0.8,
            guides: false,
            zoomable: false,
            highlight: false,
            dragCrop: true,
            movable: true,
            resizable: true
        });
    };

    var createThumbnail = function(){
        var video = Popcorn("#main_video");
        var midPoint = video.duration() / 2;
        video.listen("canplayall", function() {
            this.currentTime(midPoint).capture({
                target: "#img-placeholder",
                media: true
            });
            initCropper();
        });
    };

    var increasePlayback = function(){
        document.getElementById("main_video").playbackRate = 3.0;
        document.getElementById("main_video").defaultPlaybackRate = 3.0;
    };

    $(window).load(function(){
        increasePlayback();
        $("video").one("loadeddata", function(){
            createThumbnail();
        });
    });
</script>
