<html>
    <head>
        {% include "_js_scripts.html" %}
    </head>
    <body>
        Who is your favorite actor?<br/>
        <form acttion="{{ amazon_host }}" method="POST">
            <input type="text" id="actor" name="actor"/>
            <input type="hidden" id="hitId" value="{{ hit_id }}" name="hitId"/>
            <input type="hidden" id="assignmentId" value="{{ assignment_id }}" name="assignmentId"/>
            <input type="hidden" id="workerId" value="{{ worker_id }}" name="workerId"/>
            <br/>
            <input type="submit">
        </form>
    </body>
</html>
