{% load staticfiles %}
<html>
    <head>
        {% include "_js_scripts.html" %}
    </head>
    <body>
<div style="margin-left: 40px;">
        <div>
        </div>
        <form action="." method="POST">
            <input type="hidden" id="assignmentId" value="{{ assignment_id }}" name="assignmentId"/>
            <br/>
            <input type="hidden" id="workerId" value="{{ worker_id }}" name="workerId"/>
            <input type="hidden" id="hitId" value="{{ hit_id }}" name="hitId"/>
            <input type="hidden" id="offset_x" name="offset_x" value="" />
            <input type="hidden" id="offset_y" name="offset_y" value="" />
            <input type="hidden" id="width" name="width" value="" />
            <input type="hidden" id="height" name="height" value="" />
            <input type="hidden" id="video_name" name="video_name" value="{{ video_name }}" />

            <div class="test-parent" style="display: block; position: relative; float: left;">
                <img id="img-placeholder" />
            </div>

            <div class="offset-container" style="display: block; position: relative; float: left; margin-left: 100px;">
                <div class="viewable-area" style="width: 320px; overflow: hidden; display: block; ">

                    <video crossOrigin="anonymous" id="main_video" muted="" autoplay="" loop="" style="width: 320px; margin-left: 0px">
<source src="/static/movies/{{ video_name }}.mp4.webmsd.webm" type="video/webm" class="webmsource">

                    </video>

                </div>
            </div>
            <div style="clear: both;"></div>
<input type="submit" style="display: none; margin: 20px;">
        </form>
</div>
    </body>
</html>
